@charset "UTF-8";
:root {
  /* 色管理用の変数 */
  --black-color: #3b2b2b;
  --base-color: #fbf8f8;
  --pink-color: #ffe4e5;
}
body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  letter-spacing: 0.1em;
}

/* lyauto */
.l_container-sm {
  width: 92%;
  max-width: 343px;
  margin: 0 auto;
}
.l_container-pc {
  width: 92%;
  max-width: 955px;
  margin: 0 auto;
}
.l_main {
  position: relative;
  background-color: var(--base-color);
}
.l_header {
  z-index: 100;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
}
.l_header_nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--pink-color);
  z-index: 100;
}

.l_header_nav_item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.l_header_nav_list,
.l_header_button-wrapper {
  text-align: center;
  margin-top: 56px;
}

.l_header_nav_list:hover {
  opacity: 0.6;
}
.l_header_button-wrapper:hover {
  opacity: 0.6;
}
@media screen and (min-width: 1080px) {
  .l_header {
    background-color: var(--base-color);
    height: 70px;
    top: 0;
    right: 0;
  }
}
@media screen and (min-width: 1080px) {
  .l_header_nav {
    position: static;
    width: auto;
    height: auto;
    display: block;
    background: transparent;

    opacity: 1;
    pointer-events: inherit;
  }
  .l_header_nav_item {
    display: flex;
    align-items: center;

    font-weight: bold;
    gap: 16px;
    font-size: 14px;
    color: var(--black-color);
    padding-top: 12px;
    transform: translate(0, -50%);
    white-space: nowrap;
  }

  .l_header_button-wrapper {
    display: block;
    width: 124px;
    height: 41px;
    background-color: var(--black-color);
    border-radius: 10px;
  }

  .l_header_button {
    font-size: 16px;
    color: var(--base-color);
    padding: 8px 10px;
  }
  .l_header_nav_list,
  .l_header_button-wrapper {
    margin-top: 0;
  }
}

.l_top-kv {
  height: 100vh;
  /* height: 272px; */
  position: relative;
  background: url(../img/topkv-sm.jpg) center center / cover;
}

@media screen and (min-width: 768px) {
  .l_top-kv {
    background: url(../img/topkv-pc.jpg) center center / cover;
  }
}

.l_section {
  margin-top: 100px;
}

@media screen and (min-width: 1080px) {
  .l_section {
    margin-top: 140px;
  }
}
.l_contact {
  background-color: var(--black-color);
}
.l_footer {
  width: 100%;
  margin: 0 auto;
  padding-top: 42px;
  padding-bottom: 42px;
  background-color: var(--base-color);
}

@media screen and (min-width: 1080px) {
  .l_footer {
    padding-top: 64px;
    padding-bottom: 64px;
  }
}
/* module */
.m_hamburger {
  z-index: 150;
  width: 29px;
  height: 26px;
  margin-top: 24px;
  margin-right: 20px;
  border-radius: 50px;
  position: relative;
}

.m_hamburger-bar {
  width: 30px;
  height: 5px;
  display: block;
  position: absolute;
  background: var(--base-color);
  left: 50%;
}

.m_hamburger-bar:first-child {
  top: 0;
  transform: translate(-50%, 0);
}

.m_hamburger-bar:nth-child(2) {
  top: 50%;
  transform: translate(-50%, -50%);
}

.m_hamburger-bar:last-child {
  top: 100%;
  transform: translate(-50%, -100%);
}

@media screen and (min-width: 1080px) {
  .m_hamburger {
    display: none;
  }
}

.m_section_titl {
  text-align: center;
  height: 40px;
  padding-top: 5px;
  font-size: 20px;
  font-weight: bold;
  position: relative;
}

.m_section_titl::after {
  content: "";
  display: block;

  width: 211px;
  height: 2px;
  background-color: var(--black-color);
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.m_section_titl::before {
  content: "";
  margin: 0 auto;
  display: block;
  width: 211px;
  height: 2px;
  background-color: var(--black-color);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (min-width: 1080px) {
  .m_section_titl {
    font-size: 24px;
    height: 50px;
  }
}
.m_button-wrapper {
  display: block;
  width: 160px;
  height: 52px;
  border-radius: 20px;
  background-color: var(--pink-color);
  margin: 0 auto;
}

.m_button_text {
  color: var(--black-color);
  font-weight: bold;
}

@media screen and (min-width: 1080px) {
  .m_button-wrapper {
    width: 280px;
    height: 85px;
  }
  .m_button_text {
    font-size: 22px;
  }
}
/* top_kv */
.top-kv_inner {
  position: absolute;
  top: 50%;
  left: 15%;
  font-family: YuMincho, /* Mac用 */ "Yu Mincho", /* Windows用 */ serif;
  color: var(--pink-color);
}

.top-kv_titl {
  font-size: 24px;
  font-weight: bold;
}
.top-kv_su-titl {
  margin-top: 16px;
  font-size: 14px;
  text-align: center;
}

.sticky_button-wrapper {
  position: fixed;
  top: 80%;
  right: 10%;
  width: 88px;
  height: 39px;
  border: solid 1px var(--base-color);
  background-color: var(--black-color);
  border-radius: 10px;
}

.sticky_button {
  color: var(--base-color);
  font-family: YuMincho, /* Mac用 */ "Yu Mincho", /* Windows用 */ serif;
}
@media screen and (min-width: 768px) {
  .top-kv_titl {
    font-size: 48px;
  }
  .top-kv_su-titl {
    font-size: 24px;
  }
  .sticky_button-wrapper {
    width: 124px;
    height: 77px;
    border-radius: 20px;
    font-size: 24px;
    letter-spacing: 0.1em;
    border: solid 3px var(--base-color);
  }
}
@media screen and (min-width: 1080px) {
  .top-kv_titl {
    font-size: 64px;
  }
  .top-kv_su-titl {
    font-size: 32px;
  }
}
/* intro */
.intro_section {
  background-color: var(--pink-color);
  width: 281px;
  height: 272px;
  margin: 100px auto;
}

.intro_wrapper {
  padding: 24px;
}
.intro_inner-desc {
  margin-top: 48px;
}

.intro_item {
  display: flex;
  gap: 32px;
}

.intro_item:not(:first-child) {
  margin-top: 16px;
}

.intro_text {
  text-align: center;
}
.intro_word {
  display: flex;
  gap: 64px;
}
.intro_word_text {
  width: 18px;
  font-size: 18px;
}
.intro_word_text:first-child {
  margin-top: 48px;
}
@media screen and (max-width: 1079px) {
  .intro_word {
    display: none;
  }
}
@media screen and (min-width: 1080px) {
  .intro_section {
    width: 812px;
    height: 310px;
  }
  .intro_wrapper {
    padding-left: 129px;
    padding-top: 32px;
  }
  .intro_inner {
    display: flex;
    gap: 192px;

    font-size: 18px;
  }
}

/* skill */
.skill_inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 42px;
}
.skill_item {
  margin-top: 42px;
  max-width: 343px;
  width: 92%;
}

.skill_sub-titl {
  margin-top: 18px;
  font-weight: bold;
  text-align: center;
}

.skill_img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.skill_img-wrapper {
  margin-top: 24px;
}
.skill_img {
  display: block;
  width: 48px;
  height: 48px;
}

.skill_desc {
  margin-top: 24px;
}

@media screen and (min-width: 1080px) {
  .skill_sub-titl {
    font-size: 22px;
  }
  .skill_item {
    max-width: 700px;
    margin-top: 62px;
  }
  .skill_img-wrapper {
    margin-top: 32px;
  }
  .skill_desc {
    margin-top: 32px;
    font-size: 18px;
  }
}
/* work */
.swiper {
  margin-top: 56px;
}
@media screen and (min-width: 1080px) {
  .swiper {
    max-width: 1000px;
  }
}
@media screen and (max-width: 1079px) {
  .swiper {
    max-width: 600px;
  }
}
.swiper-wrapper {
  height: auto;
}

.swiper-slide {
  width: 211px;
  height: 311px;
}
.swiper-slide_img-wrapper {
  height: 225px;
  width: 211px;
}

.swiper-slide_img {
  height: 100%;
}

.swiper-inner {
  display: block;
  width: 211px;
  margin: 0 auto;
}

.swiper-slide_desc {
  margin-top: 18px;
  text-align: center;
  color: var(--black-color);
}

.swiper-button-prev::after,
.swiper-button-next::after {
  color: var(--pink-color);
}

.swiper-button-prev::after {
  margin-right: 20px;
}
.swiper-button-next::after {
  margin-left: 20px;
}
.swiper-pagination-bullet {
  background-color: var(--black-color);
}
/* flow */
.flow_inner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 56px;
  margin-bottom: 72px;
  margin-top: 56px;
}

.flow_item {
  max-width: 291px;
}

.flow_sub-titl {
  font-size: 18px;
  font-weight: bold;
}

.flow_img {
  display: block;
  width: 149px;
  height: 142px;
  margin: 32px auto;
}

.flow_desc {
  text-align: center;
}
@media screen and (min-width: 1080px) {
  .flow_inner {
    flex-direction: row;
    align-items: start;
    gap: 24px;
    margin-top: 80px;
  }
  .flow_sub-titl {
    font-size: 22px;
  }
  .flow_desc {
    font-size: 18px;
  }
}
/* contact */
.contact_inner {
  padding: 26px 55px;
}
.contact_titl {
  color: var(--base-color);
}

.contact_text {
  color: var(--base-color);
  margin-top: 16px;
  text-align: center;
}

.contact_titl::after {
  content: "";
  display: block;

  width: 211px;
  height: 2px;
  background-color: var(--base-color);
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.contact_titl::before {
  content: "";
  margin: 0 auto;
  display: block;
  width: 211px;
  height: 2px;
  background-color: var(--base-color);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.contact_button {
  margin-top: 24px;
}

@media screen and (min-width: 1080px) {
  .contact_inner {
    padding: 72px;
  }

  .contact_text {
    font-size: 22px;
    margin-top: 48px;
  }
  .contact_button {
    margin-top: 48px;
  }
}

/* footer */
.footer_nav_item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
}
.footer_nav_list {
  font-size: 12px;

  text-align: center;
}

.footer_nav_list:hover {
  opacity: 0.6;
}
.footer-copyright-wrapper {
  height: 50px;
  background-color: var(--black-color);
}
.l_footer-copyright {
  font-size: 12px;
  text-align: center;
  color: var(--base-color);
  padding-top: 16px;
}

@media screen and (min-width: 1080px) {
  .footer_nav_item {
    flex-direction: row;
    gap: 16px;
  }
}

/* js */
.js_body.is-active {
  overflow: hidden;
}

.js_navigation {
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s;
}

@media screen and (min-width: 1080px) {
  .js_navigation {
    pointer-events: auto;
    opacity: 1;
  }
}
.js_navigation.is-active {
  opacity: 1;
  pointer-events: inherit;
}
.js_hamburger.is-active .m_hamburger-bar:first-child {
  top: 50%;
  transform: translate(-50%, 0) rotate(45deg);
}

.js_hamburger.is-active .m_hamburger-bar:nth-child(2) {
  opacity: 0;
}

.js_hamburger.is-active .m_hamburger-bar:last-child {
  top: 50%;
  transform: translate(-50%, 0) rotate(-45deg);
}
